.advantages-card {
    padding: 30px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 40px;
    width: 100%;
    &__image {
        width: 128px;
        height: 128px;
    }

    &__title {
        margin-top: 20px;
        font-size: 32px;
        font-weight: 500;
        line-height: 38.73px;
    }

    &__description {
        margin-top: 16px;
        font-family: Inter;
        font-size: 24px;
        line-height: 29.05px;

    }

    &__purple {
        color: #8D5DFF;
        font-weight: 600;
    }
}