.advantages {
    display: flex;
    flex-direction: column;
    gap: 64px;
    margin-top: 312px;
    &__container{
        display: flex;
        gap: 64px;
        justify-content: stretch;
    }
}

.cards {
    margin-top: 193px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 27px 40px; 
}