/* ===================== */
/* MAIN LAYOUT */
/* ===================== */

.main {
    display: flex;
    flex-direction: column;
    gap: 200px; /* единый вертикальный ритм */
    padding-bottom: 110px;
}

/* ===================== */
/* ADVANTAGES */
/* ===================== */

.advantages {
    display: flex;
    flex-direction: column;
    gap: 64px;

    &__container {
        display: flex;
        gap: 64px;
        justify-content: stretch;
    }
}

/* ===================== */
/* CARDS */
/* ===================== */

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    gap: 90px 40px;
}

/* ===================== */
/* SERVICES */
/* ===================== */

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 637px;
    gap: 27px;
}

/* ===================== */
/* HEADINGS */
/* ===================== */

.heading {
    font-size: 61px;
    font-weight: 700;
    color: #8D5DFF;
    width: 100%;
    text-align: center;
    min-height: 1.2em; /* защита от CLS при загрузке шрифта */
}

/* ===================== */
/* USAGES */
/* ===================== */

.usages {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-flow: row;
        gap: 64px;
    }
}

/* ===================== */
/* STAGES */
/* ===================== */

.stages {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__container {
        margin-top: 62px;
    }

    &__subcontainer {
        display: flex;
        gap: 30px;
        position: relative;

        & img {
            display: block;
            z-index: -1;
        }

        &:nth-of-type(2) {
            margin-top: 190px;
        }

        &:nth-of-type(3) {
            margin-top: 70px;
        }
    }

    &__images {
        &_1 {
            width: 135px;
            aspect-ratio: 135 / 40;
        }

        &_2 {
            position: absolute;
            right: 0;
            top: 50%;
            width: calc(100% - 15%);
            aspect-ratio: 100 / 12;
        }

        &_3 {
            width: 303px;
            aspect-ratio: 303 / 60;
        }

        &_4 {
            position: absolute;
            right: 0;
            top: 50%;
            aspect-ratio: 100 / 12;
        }

        &_down {
            width: auto;
            height: 64px;
            aspect-ratio: 1 / 1;
        }
    }
}

/* ===================== */
/* REVIEWS */
/* ===================== */

.reviews {
    &__container {
        margin: 0 auto;
        margin-top: 45px;
        display: flex;
        width: calc(100% - 152px);
        gap: 30px;
    }
}

/* ===================== */
/* QAA */
/* ===================== */

.qaa {
    &__container {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
}

/* ===================== */
/* MEDIA: <= 1600px */
/* ===================== */

@media screen and (max-width: 1600px) {
    .stages {
        &__images {
            &_2 {
                top: 85%;
            }
        }
    }
}

/* ===================== */
/* MEDIA: <= 1279px */
/* ===================== */

@media screen and (max-width: 1279px) {
    .main {
        gap: 150px;
        padding-bottom: 204px;
    }

    .heading {
        font-size: 22px;
        line-height: 29.05px;
    }

    .advantages {
        &__container {
            flex-direction: column;
            gap: 20px;
        }
    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .services {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .usages {
        &__container {
            display: flex;
            flex-direction: column;
            gap: 16px;
        }
    }

    .stages {
        &__images {
            &_2 {
                top: 75%;
            }
        }

        &__subcontainer {
            flex-direction: column;
            gap: 10px;
        }
    }

    .reviews {
        width: 100%;
        padding: 0;

        &__container {
            width: 100%;
        }
    }
}
